mixin list(items)
  table.table.table-striped.table-bordered.table-sm
    each item in items
      tr
        td= t(`${item.name}`)

mixin settingForm(properties, type)
  form#settings(
    action=route('settings')
    method='post'
  )
    .text-center
      h5=t(`views.tasks.settings.${type}.name`)
      +list(properties)
    .form-group
      label(
        for='formControlInput'
      )= t(`views.tasks.settings.${type}.add`)
      input#formControlInput.form-control(
        name=`${type}[name]`
        autocomplete='off'
      )
  .d-flex
    button.btn.btn-block.btn-outline-primary(
              form='settings'
            )= t('views.tasks.settings.add')

//- mixins for

mixin oldtask(task)
  input#FormControlInput1.form-control.data-bv-notempty-message(
    name='oldTask'
    value=task
    type='hidden'
  )

mixin inputTaskName(taskName = '')
  .form-group
    label(
      for='FormControlInput1'
    )= t('views.tasks.change.taskName')
    input#FormControlInput1.form-control.data-bv-notempty-message(
      name='task[name]'
      autocomplete='off'
      value=taskName
    )

mixin selectTaskStatus(taskStatus)
  .form-group.col.mb-3.pl-0
    .row.ml-0
      label(
        for='inlineFormCustomSelect'
      )= t('views.tasks.change.status')
      if !taskStatus
        a.h6.btn-link.ml-4.mt-1.mb-1(
          href=route('settings'),
          method='get',
        )= t('views.tasks.settings.add')
    select#inlineFormCustomSelect.flex-row.w-auto.form-control(name='task[status]')
      if taskStatus
        option.form-control(
          value=taskStatus
          selected=''
        )= t(`${taskStatus}`)
      each taskStatus in taskStatuses
        option.form-control(
          value=taskStatus.name
        )= t(`${taskStatus.name}`)

mixin selectedTags(tags)
  each tag in tags
    .form-check
      input.form-check-input(
        type='checkbox'
        id=`${tag.name}`
        name='tagsForTask[name]'
        value=tag.name
        checked=''
      )
      label.form-check-label(
        for=`${tag.name}`
      )= t(`${tag.name}`)

mixin selectTags(taskTags)
  .form-group.col.mb-2.pl-0
    label.mb-1= t('views.tasks.settings.tags')
    .row.ml-0
      if taskTags
        +selectedTags(taskTags)
      each tag in tags
        .form-check.ml-2
          input.form-check-input.pt-1(
            type='checkbox'
            id=`${tag.name}`
            name='tagsForTask[name]'
            value=tag.name
          )
          label.form-check-label(
            for=`${tag.name}`
          )= t(`${tag.name}`)
      if !taskTags
        a.h6.btn-link.ml-4.mt-1.mb-1(
          href=route('settings'),
          method='get',
        )= t('views.tasks.settings.add')

mixin selectAssignedTo(assignedTo)
  .form-group
    select#inlineFormCustomSelect.w-100.form-control(
      name='task[assignedTo]'
      required=''
    )
      if assignedTo
        option.form-control(
          name='assignedTo[id]'
          value=`${assignedTo}`
          selected=''
        )= t(`${users[assignedTo] ? users[assignedTo].fullName : ''}`)
      if !assignedTo
        option(
          selected=''
          disabled=''
        )= t('views.tasks.change.assignedto')
      each user in users
        if user.id != assignedTo
          option.form-control(
            name='assignedTo[id]'
            value=user.id
          )= t(`${user.fullName}`)