extends ../layouts/application.pug
include ../mixins/tasks.pug

block content
  .container.col-6.justify-content-center
    h3.mb-3.font-weight-normal.text-center= t('views.tasks.change.title')
    form#task(
      action=route('changeTask')
      method='post'
    )
      +oldtask(task)
      +inputTaskName(task.name)
      +selectTaskStatus(task.status)
      +selectTags(task.tags)
      .form-group
        textarea.form-control(
          name='task[description]'
          rows="6"
        )= t(task.description)
      +selectAssignedTo(task.assignedTo)
    hr
    .d-flex.justify-content-between
      a.btn.btn-link(
                href=route('tasks'),
                method='get',
              )= t('views.tasks.settings.back')
      button.btn.btn-link(
        form='task'
      )= t('views.tasks.change.save')
